In [12]:
# Import statements
import pandas as pd

# Assign the dataframe to this variable.
# Load the data
bmi_life_data = pd.read_csv('bmi_and_life_expectancy.csv')
X = bmi_life_data[['BMI']]
y = bmi_life_data[['Life expectancy']]

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
X.head()

        BMI
0  20.62058
1  26.44657
2  24.59620
3  27.63048
4  22.25083

In [14]:
y.head()

   Life expectancy
0             52.8
1             76.8
2             75.5
3             84.6
4             56.7

In [11]:
# Make a prediction using the model
# Predict life expectancy for a BMI value of 21.07931
laos_life_exp = bmi_life_model.predict(21.07931)
print(laos_life_exp)

[[60.31564716]]

In [ ]:
from sklearn.linear_model import LinearRegression

# Make and fit the linear regression model
# Fit the model and Assign it to bmi_life_model
bmi_life_model = LinearRegression()
bmi_life_model.fit(X, y)